.contrast{
    background-color: #ffffffbb;
    box-shadow:5px 0 0 #ffffffbb, -5px 0 0 #ffffffbb;
    padding: 5px 0;
    line-height: 200%;
    /* display: inline-block; */
}


.center{
    text-align: center;
}

.remark-slide .height500 img{
    height: 500px;
}

.remark-slide .height600 img{
    height: 600px;
}

.remark-slide .height400 img{
    height: 400px;
}

.remark-slide .height450 img{
    height: 450px;
}

.green {
    color: green;
}

.red {
    color: rgb(168, 0, 0);
}