.contrast{
    background-color: #ffffffbb;
    box-shadow:5px 0 0 #ffffffbb, -5px 0 0 #ffffffbb;
    padding: 5px 0;
    line-height: 200%;
    /* display: inline-block; */
}

.remark-slide .height500 img{
    height: 500px;
}

.remark-slide .height600 img{
    height: 600px;
}