.Rproj.user
*.DS_Store
*.html
CM3_files
CM1_files
.DS_Store
TP4-2A/server_python/.idea/

TP4-2A/server_python/__pycache__/

TP4-2A/server_python/metastore_db/

TP4-2A/serveurs_python/serveur_iot_1/.idea/

TP4-2A/TP4-2A.rar

TP4-2A/serveurs_python/serveur_iot_1/__pycache__/
